{% extends "base.html" %}

{% block content %}

<div class = "col-md-6 offset-md-3">

{% if user.is_authenticated %}



<head>
  <h1>Система мониторинга физических покозателей</h1><br/>
  <style>
    .container {
      display: flex;
    }

    .column {
      flex: 1;
      margin: 0 10px;
     
    }

    h2 {
      color: #333;
    }
    h1 {
        text-align: center;
    }
    p {
      line-height: 1.5;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="column">
      <h2>Улучшение жизни</h2>
      <p>Мониторинг физических показателей может стать мощным инструментом для поддержания здорового образа жизни. Он может помочь отслеживать физическую активность, качество сна, калорийный баланс и другие факторы, влияющие на общее состояние организма.</p>
    </div>
    <div class="column">
      <h2>Повышение мотивации</h2>
      <p>Системы мониторинга физических показателей могут стать источником мотивации для достижения здоровых целей. Они предоставляют обратную связь о процессе и прогрессе, помогая людям отслеживать свои достижения и устанавливать новые цели. Это может способствовать повышенной мотивации и улучшению самодисциплины.</p>
    </div>
    <div class="column">
      <h2>Индивидуальный подход</h2>
      <p>Каждый человек уникален, и системы мониторинга физических показателей позволяют учесть индивидуальные особенности организма. Они могут предоставлять персонализированную информацию о здоровье и рекомендации, основанные на конкретных потребностях и целях каждого человека. Это способствует более эффективному управлению здоровьем и предотвращению заболеваний.</p>
    </div>
  </div>
</body>


    {% else %}

    <h1>Вход</h1>
    <br/>
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
    
  
            <div class="mb-3">
            
            <input type="text" class="form-control", name="username", placeholder="Username" required>
           
            </div><br/>
            <div class="mb-3">
            
            <input type="password" class="form-control", name="password", placeholder="Password" required>
            </div>
            <br/>
            <button type="submit" class="btn btn-secondary">Войти</button>
        </form>


{% endif %}

{% endblock %}